{% extends "main.html" %}
{% load static %}

{% block title %}Случайное время{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/num_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/time_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/time_random.css' %}">
{% endblock %}

{% block custom_input %}
<div class="gender-choice" style="margin:.5em auto -.15em;"><span style="font-size:.9em; line-height:2em;">Интервал:</span><br>
    <label><input type="radio" name="random-time-interval" value="">&nbsp;1 мин</label>&emsp;
    <label><input type="radio" name="random-time-interval" value="5" checked>&nbsp;5 мин</label>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/num_main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/time_main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/time_random.js' %}"></script>
{% endblock %}
